.background{
    background: red;
}

@media only screen and (max-width: 600px){
    .background{
        background: blue;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .background{
        background: green;
    }
}